.env
__pycache__/
*.pyc
node_modules/
dist/
.venv/
venv/
db.sqlite3
staticfiles/
media/
.DS_Store
*.egg-info/
PyDocAI_Backend.postman_collection.json
backend/seed_admin.py
backend/celerybeat-schedule.db
backend/check.py
*.db
frondend/call_mcp.js
ARCHITECTURE.md
social-posts.md
.vercel
