DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.production
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:5173
ALLOWED_HOSTS=localhost,127.0.0.1
GROQ_API_KEY=
GROQ_API_KEY_2=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_API_TOKEN=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@pydocai.com
FRONTEND_URL=http://localhost:5173
INTERNAL_API_KEY=pydocai-internal-key

# AWS S3 (production only)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1
AWS_CLOUDFRONT_DOMAIN=
